In [22]:
import os
import requests
from pyspark.sql.functions import lit
from pyspark.sql import SparkSession, functions as f

In [23]:
from dotenv import load_dotenv
load_dotenv()
key=os.environ.get("KEY")
spark = SparkSession.builder.getOrCreate()

Amazon.com Inc (AMZN)

In [24]:
symbol = 'AMZN'
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={symbol}&apikey={key}'
r = requests.get(url)
data = [r.json()]

company_name = 'Amazon.com Inc'
rdd = spark.sparkContext.parallelize(data)
df = spark.read.json(rdd)
clean_data = df.select(f.col("Time Series (Daily).2022-12-22.`1. open`"), \
            f.col("Time Series (Daily).2022-12-22.`2. high`"), \
            f.col("Time Series (Daily).2022-12-22.`3. low`"), \
            f.col("Time Series (Daily).2022-12-22.`4. close`"))

add_company_col =clean_data.withColumn("company_name", lit(company_name)) \

amzn_com_df = add_company_col.toDF("open","high","low","close","company_name")
amzn_com_df.show()

+-----+-----+-----+-----+--------------+
| open| high|  low|close|  company_name|
+-----+-----+-----+-----+--------------+
|85.52|85.68|82.25|83.79|Amazon.com Inc|
+-----+-----+-----+-----+--------------+

Intel Corporation (INTC)

In [25]:
symbol = 'INTC'
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={symbol}&apikey={key}'
r = requests.get(url)
data = [r.json()]

company_name = 'Intel Corporation'
rdd = spark.sparkContext.parallelize(data)
df = spark.read.json(rdd)
clean_data = df.select(f.col("Time Series (Daily).2022-12-22.`1. open`"), \
            f.col("Time Series (Daily).2022-12-22.`2. high`"), \
            f.col("Time Series (Daily).2022-12-22.`3. low`"), \
            f.col("Time Series (Daily).2022-12-22.`4. close`"))

add_company_col =clean_data.withColumn("company_name", lit(company_name)) \

intel_com_df = add_company_col.toDF("open","high","low","close","company_name")
intel_com_df.show()

+-----+------+-----+-----+-----------------+
| open|  high|  low|close|     company_name|
+-----+------+-----+-----+-----------------+
|26.45|26.452|25.35|25.97|Intel Corporation|
+-----+------+-----+-----+-----------------+

JPMorgan Chase & Co (JPM)

In [26]:
symbol = 'JPM'
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={symbol}&apikey={key}'
r = requests.get(url)
data = [r.json()]

company_name = 'JPMorgan Chase & Co'
rdd = spark.sparkContext.parallelize(data)
df = spark.read.json(rdd)
clean_data = df.select(f.col("Time Series (Daily).2022-12-22.`1. open`"), \
            f.col("Time Series (Daily).2022-12-22.`2. high`"), \
            f.col("Time Series (Daily).2022-12-22.`3. low`"), \
            f.col("Time Series (Daily).2022-12-22.`4. close`"))

add_company_col =clean_data.withColumn("company_name", lit(company_name)) \

jp_com_df = add_company_col.toDF("open","high","low","close","company_name")
jp_com_df.show()

+-----+-----+------+------+-------------------+
| open| high|   low| close|       company_name|
+-----+-----+------+------+-------------------+
|131.1|131.3|128.41|130.66|JPMorgan Chase & Co|
+-----+-----+------+------+-------------------+

Coca-Cola Co (KO)

In [27]:
symbol = 'KO'
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={symbol}&apikey={key}'
r = requests.get(url)
data = [r.json()]

company_name = 'Coca-Cola Co'
rdd = spark.sparkContext.parallelize(data)
df = spark.read.json(rdd)
clean_data = df.select(f.col("Time Series (Daily).2022-12-22.`1. open`"), \
            f.col("Time Series (Daily).2022-12-22.`2. high`"), \
            f.col("Time Series (Daily).2022-12-22.`3. low`"), \
            f.col("Time Series (Daily).2022-12-22.`4. close`"))

add_company_col =clean_data.withColumn("company_name", lit(company_name)) \

coca_com_df = add_company_col.toDF("open","high","low","close","company_name")
coca_com_df.show()

+-----+-----+------+-----+------------+
| open| high|   low|close|company_name|
+-----+-----+------+-----+------------+
|63.42|63.59|62.645|63.34|Coca-Cola Co|
+-----+-----+------+-----+------------+

Walt Disney Company (DIS)

In [28]:
symbol = 'DIS'
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={symbol}&apikey={key}'
r = requests.get(url)
data = [r.json()]

company_name = 'Walt Disney Company'
rdd = spark.sparkContext.parallelize(data)
df = spark.read.json(rdd)
clean_data = df.select(f.col("Time Series (Daily).2022-12-22.`1. open`"), \
            f.col("Time Series (Daily).2022-12-22.`2. high`"), \
            f.col("Time Series (Daily).2022-12-22.`3. low`"), \
            f.col("Time Series (Daily).2022-12-22.`4. close`"))

add_company_col =clean_data.withColumn("company_name", lit(company_name)) \

disney_com_df = add_company_col.toDF("open","high","low","close","company_name")
disney_com_df.show()

+-----+-----+-----+-----+-------------------+
| open| high|  low|close|       company_name|
+-----+-----+-----+-----+-------------------+
|86.03|86.73|84.69|86.67|Walt Disney Company|
+-----+-----+-----+-----+-------------------+

In [29]:
union1 = amzn_com_df.union(intel_com_df)
union2 = union1.union(jp_com_df)
union3 = union2.union(coca_com_df)
union4 = union3.union(disney_com_df)
final_df = union4
final_df.printSchema()
final_df.show()

root
 |-- open: string (nullable = true)
 |-- high: string (nullable = true)
 |-- low: string (nullable = true)
 |-- close: string (nullable = true)
 |-- company_name: string (nullable = false)

+-----+------+------+------+-------------------+
| open|  high|   low| close|       company_name|
+-----+------+------+------+-------------------+
|85.52| 85.68| 82.25| 83.79|     Amazon.com Inc|
|26.45|26.452| 25.35| 25.97|  Intel Corporation|
|131.1| 131.3|128.41|130.66|JPMorgan Chase & Co|
|63.42| 63.59|62.645| 63.34|       Coca-Cola Co|
|86.03| 86.73| 84.69| 86.67|Walt Disney Company|
+-----+------+------+------+-------------------+